@model HomeStayWeb.Models.Homestay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Homestay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHomestay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHomestay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDHomestay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
