@model HomeStayWeb.Models.KhachHang

@{
    ViewBag.Title = "THÔNG TIN CHI TIẾT";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            Email khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailKH)
        </dd>

        <dt>
            Số điện thoại khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTKH)
        </dd>

        <dt>
            Mật khẩu khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MKKH)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDKH }) |
    @Html.ActionLink("Trở về", "Index")
</p>
