@model HomeStayWeb.Models.Phong

@@{
    ViewBag.Title = "THÔNG TIN CHI TIẾT";
Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số phòng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhong)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Tên loại phòng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiPhong.TenLP)
        </dd>

        <dt>
            Hình ảnh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDPhong }) |
    @Html.ActionLink("Trở về", "Index")
</p>
