@model HomeStayWeb.Models.NhanVien

@{
    ViewBag.Title = "THÔNG TIN CHI TIẾT";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tài khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaKhachHang }) |
    @Html.ActionLink("Trở về", "Index")
</p>
