@model IEnumerable<HomeStayWeb.Models.ThanhToan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sotien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatPhong.TrangThaiDatPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.TenNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sotien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatPhong.TrangThaiDatPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDThanhToan }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDThanhToan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDThanhToan })
        </td>
    </tr>
}

</table>
