@model HomeStayWeb.Models.DanhGia

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đánh giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDDanhGia)
        </dd>

        <dt>
            Mã khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDKH)
        </dd>

        <dt>
            Nội dung:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            Ngày đánh giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDanhGia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
