@model HomeStayWeb.Models.ThanhToan

@{
    ViewBag.Title = "THÔNG TIN CHI TIẾT";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đặt phòng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDDP)
        </dd>

        <dt>
            Tên nhân viên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNV)
        </dd>

        <dt>
            Ngày thanh toán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>

        <dt>
            Số tiền:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sotien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDThanhToan }) |
    @Html.ActionLink("Trở về", "Index")
</p>
